{% extends 'base.html'%}
{% block title %}
  Add Child
{% endblock %}

{% block content %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="py-3 text-center">
  <h2>Add New Child</h2>
  <p class="lead">Fill every blocks.</p>
</div>
  <div class="container">
    <form class="row g-3" method="post">
      {% csrf_token %}
      <div class="col-md-12">
        <label for="inputName" class="form-label">Child Name</label>
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Charlie">
      </div>

      <div class="col-md-4">
        <label for="inputid" class="form-label">Child ID</label>
        <input type="text" name="childcode" class="form-control" id="inputid" placeholder="*****">
      </div>

      <div class="col-md-4">
        <label for="inputage" class="form-label">Child Age</label>
        <input type="text" name="childage" class="form-control" id="inputage" placeholder="**">
      </div>

      <div class="col-md-4">
        <label for="inputhealth" class="form-label">Health Status</label>
        <select name="health" id="inputhealth" class="form-select">
          <option selected>Choose...</option>
          <option>Good</option><option>Average</option><option>Excellent</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputweight" class="form-label">Weight</label>
        <input type="text" name="childweight" class="form-control" id="inputweight" placeholder="10 Kg">
      </div>

      <div class="col-md-4">
        <label for="inputheight" class="form-label">Height</label>
        <input type="text" name="childheight" class="form-control" id="inputheight" placeholder="3 foot 2 inch">
      </div>

      <div class="col-md-4">
        <label for="inputgender" class="form-label">Gender</label>
        <select name="gender" id="inputgender" class="form-select">
          <option selected>Choose...</option>
          <option>Male</option><option>Female</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputblood" class="form-label">Blood Group</label>
        <select name="blood" id="inputblood" class="form-select">
          <option selected>Choose...</option>
          <option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>AB+</option>
          <option>AB-</option><option>O+</option><option>O-</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Child Image</label>
          <div class="col-md-4">
            <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
      </div>
        <button type="submit" class="w-10 btn btn-primary btn-mg">Add Now</button>
      </div>
    </form>
  </div>
{% endblock %}
