{% extends 'base.html'%}

{% block title %}
  Childs
{% endblock %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#/ID</th>
      <th scope="col">Name</th>
      <th scope="col">Division</th>
      <th scope="col">District</th>
      <th scope="col">Contact</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for child in data %}
    <tr>
      <td>{{ child.id }}</td>
      <td>{{ child.name }}</td>
      <td>{{ child.division }}</td>
      <td>{{ child.district }}</td>
      <td>{{ child.contact }}</td>
      <td>{{ child.address }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
