{% extends 'base.html'%}

{% block title %}
  Required Documents
{% endblock %}

{% block content %}
<div class="py-3 text-center">
  <h2>Required Documents</h2>
</div>
<div class="container">
  <p>Contact a lawyer in Bangladesh</p>
  <p>Apply to be found eligible to adopt</p>
  <p>Obtain custody of the child in Bangladesh</p>
  <p>Obtain a No Objection Certificate from the Ministry of Home Affairs</p>
  <p>Apply for the child’s passport</p>
  <p>Apply to classify the orphan as an immediate relative</p>
  <p>Apply for the child’s immigrant visa</p>
</div>
{% endblock %}
